/**/

.jumbotron{
  margin-top: 30px;
}

.carousel-item {
  
  width: 100%;
  height: auto;
}
.carousel-item img {
  height: auto;
  width: 80%;
}

.noticias{
  margin-bottom: 50px;
}

#enlaces{
  color: white;
}

.card-header{
  font-size: medium;
}
.card-title{
  font-size: medium;
}
.card-text{
  font-style: italic;
}

.carousel-inner .item img {
  width: 100%;
}


/*NAV BAR CAMBIO*/

#mySidenav a {
    position: absolute;
    left: -180px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    
  }
  
  #mySidenav a:hover {
    left: 0;
    z-index: 1;
  }
  
  #familiares {
    top: 120px;
    background-color: #4CAF50;
  }
  
  #examenes {
    top: 180px;
    background-color: #2196F3;
  }
  
  #medicamento {
    top: 240px;
    background-color: #f44336;
  }
  
  #calendario{
    top: 300px;
    background-color: #555
  }