/*CSS CALENDARIO*/
body {
    background-image: url(../img/background-calendario.jpg);
    background-size: cover;
    background-position: center center;
}

.container-header{
    margin-top: 50px;
}

.btn {
    margin-bottom: 10px;
}

.btn-row{
    margin-bottom: 50px;
}

.calendar{
    border:1px;
    border-color: black;
    background: blueviolet;
}

.col{
    border-style: solid;
}

.calendar-container{
    background-color: white;
}

.mes-anterior{
    color: gray;
}

.tabs{
    margin-top: 40px;
    margin-bottom: 100px;
}

