/*CSS CALENDARIO*/
body {
    background-image: url(../img/background-calendario.jpg);
    background-size: cover;
    background-position: center center;
}



.btn-container{
    padding-bottom: 50px;
    justify-content: space-around;
}

.calendar{
    border:1px;
    border-color: black;
    background: blueviolet;
}

.col{
    border-style: solid;
}

.calendar-container{
    background-color: white;
}

.mes-anterior{
    color: gray;
}

.tabs{
    margin-bottom: 100px;
}